@import "./variables.scss";

@font-face {
  font-family: "Almarai", sans-serif;
  src: url("../assets/Fonts/Almarai-ExtraBold.ttf");
}

html,
body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

html[lang="ar"] {
  direction: rtl;
}

html {
  font-size: $gloabl_fontSize;
  font-family: "Almarai", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  font-size: 2rem;
}

.gatsby-image-wrapper img[src*="base64\\"] {
  image-rendering: -moz-crisp-edges;
  image-rendering: pixelated;
}

html {
  scrollbar-width: thin;
  scrollbar-color: $red $grey;
}

body::-webkit-scrollbar-track {
  background: $grey;
}
body::-webkit-scrollbar-thumb {
  background-color: $red;
  border-radius: 6px;
  border: 3px solid $grey;
}

.outer {
  position: relative;
  padding: 0 4vw;
}

.gatsby-resp-image-background-image {
  margin-top: 20px;
  margin-bottom: 20px;
}
