@import "../styles/variables.scss";

.paginationContainer{
    grid-column: 2 / span 12;
    padding: 3rem 0;
    display:flex;
    place-content: center;
}

.paginationLinks{
    color: inherit;
    font-size: 1.875rem;
    line-height: 1.125rem;
    font-weight: 400;
    text-decoration: none;
    margin: 0 2rem;

    &:hover, &:focus {
        text-decoration: underline;
    }
}

.paginationIsDisabled {
    color: $darkGrey;
    pointer-events: none;
}